<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<style type="text/css">
html {
	color: black;
	padding: 6px;
}

h1 {
	font-size: 18px;
	margin: 10px 0px 0px 0px;
}

a {
	color: #0000ff;
	text-decoration: none;
	font-weight: bold;
}

embed,object {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0px 10px 0px 0px;
}

.info {
	font-size: 13px;
	font-weight: normal;
	color: gray
}

body {
	font-size: 15px;
	overflow: hidden;
	background-color: transparent;
}
</style>
</head>
<body>
	<img src="_icon_" width="75dip" height="75dip" align="left" />
	<h1>_name_</h1>
	<div class="info">_developer_</div>
	<br clear="all" />
	<br />
	<div>_description_</div>
</body>
</html>